

/* 
/* .sidebar{ width: 100%;  background-color:#000;transition: all 0.5s  ease-in-out; }
.bg-defoult{background-color:#222;}
.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;
    border-left:0px solid #dedede;  text-decoration:none}
.sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
.sidebar li a:hover{background-color:#000 !important;}
.sidebar li a span{ padding-right:5px;} */
/* .sidebar ul li .sub-menu li a{ position:relative} */
.sidebar ul{list-style: none; margin:0px; padding:0px;}
.sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px;
 text-decoration:none; text-align: start;}
.rotate-180{
    transform: rotate(180deg);
}
.sidebar li a:hover {
    background: #318CE7;
    text-decoration: none;
}
.sidebar ul .collapsed{
    background-color: #0070a5;
    border-bottom: gray solid 0.5px;
}

 .sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
    
} 
   .sub-menu li a {
     color: #000;
    } 
     .fa-chevron-down {
        color: white;
    }

/* .sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
    
}
 .sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
	.sidebar.fliph {
    width: 42px;transition: all 0.5s  ease-in-out;
   
}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 4;
}	 */ 
